<%= form_with(model: [:admin, station],
              html: { id: "edit_railway_station_#{station.id}",style: "display: #{hidden ? 'none' : 'block'}" }) do |form| %>

  <%= render 'common/errors', resource: station %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit t('railway_stations.form.submit', action: station.new_record? ? 'Створити' : 'Редагувати') %>
  </div>
<% end %>
