<p style="color: green"><%= notice %></p>

<div>
  <strong>Number of train: </strong>
  <%= @train.number %>
  <p> </p>
  <strong>Station of this train:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <p>Train dont have current station</p>
  <% end %>

  <p>
    <strong>Route</strong>
    <% if @train.rout.present?  %>
      <%= @train.rout.name %>
    <% else %>
      Don`t know
    <% end %>
  </p>

  <div>
    <strong>Vans</strong>
    <% if @train.vans.present?  %>
      <p><storng>Business count: </storng> <%= @train.vans.where(kind: :business).count %></p>
      <p><storng>Econom count: </storng> <%= @train.vans.where(kind: :econom).count %></p>
      <table>
        <thead>
        <tr>
          <th>Type</th>
          <th>Top Seats</th>
          <th>Bottom Seats</th>
        </tr>
        </thead>
        <tbody>
        <% @train.vans.each do |van| %>
          <tr>
            <td><%= van.kind %></td>
            <td><%= van.top_seats %></td>
            <td><%= van.bottom_seats %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
    <% else %>
      Don`t know
    <% end %>
  </div>

  <%= link_to 'Add Van', new_train_van_path(@train) %>

  <p><%= button_to "Destroy this train", @train, method: :delete %></p>
  <p><%= link_to "Back to trains", trains_path %></p>
</div>
