<%= form_with(model: [:admin,rout]) do |form| %>
  <%= render 'common/errors', resource: rout %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :railway_station_ids %><br>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <div>
    <%= form.submit t('routs.form.submit', action: @rout ? 'Створити' : 'Редагувати')%>
  </div>
<% end %>
