<p style="color: green"><%= notice %></p>

<%= render @rout %>

<div>
  <strong>Trains on this rout:</strong>
  <% if @trains_for_rout.empty? %>
    <p>We dont have trains on this rout</p>
  <% else %>
    <ul>
      <% @trains_for_rout.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>

  <strong>Stations on this rout:</strong>
  <% if @rout.railway_stations.empty? %>
    <p>We dont have stations on this rout</p>
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100px">Name</td>
        <td>Position</td>
      </tr>
      </thead>
      <tbody>
      <% @rout.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :station_index, station.position_in(@rout) %>
              <%= hidden_field_tag :rout_id, @rout.id %>
              <%= submit_tag 'Change' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to "Edit this route", edit_rout_path(@rout) %> |
  <%= link_to "Back to route", routs_path %>

  <%= button_to "Destroy this route", @rout, method: :delete %>
</div>
