<tr>
  <td id="train_number_<%= train.id %>">
    <%= train.number %>
  </td>
  <td><%= link_to "Show train", [:admin, train] %></td>
  <%= link_to "Edit this train", '', class: 'edit_train', data: { train_id: train.id} %>

  <%= render 'admin/trains/form', train: train, hidden: true %>

  <p></p>
</tr>
