<p style="color: green"><%= notice %></p>

<div>
  <strong>Number of train: </strong>
  <%= @train.number %>
  <p> </p>
  <strong>Station of this train:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <p>Train dont have current station</p>
  <% end %>

  <p>
    <strong>Route</strong>
    <% if @train.rout.present?  %>
      <%= @train.rout.name %>
    <% else %>
      Don`t know
    <% end %>
  </p>

  <div>
    <strong>Vans</strong>
    <% if @train.order_van %>
      <p><strong>From head</strong></p>
    <% else %>
      <p><strong>From tail</strong></p>
    <% end %>
    <% if @train.vans.present?  %>
      <table>
        <thead>
        <tr>
          <th>Type</th>
          <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <% @train.vans.order("number #{@train.order_van ? 'ASC' : 'DESC'}").each do |van| %>
          <tr>
            <td><%= link_to "#{van.number}", admin_van_path(van) %></td>
            <td><%= van.type %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
    <% else %>
      Don`t know
    <% end %>
  </div>

  <%= link_to 'Add Van', new_admin_train_van_path(@train) %>

  <p><%= button_to "Destroy this train", [:admin, @train], method: :delete %></p>
  <p><%= link_to "Back to trains", admin_trains_path %></p>
</div>
