<% if user %>
  <% if user.admin %>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FirstApp</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "AdStations", "/admin/railway_stations" %></li>
            <li><%= link_to "AdTrains", "/admin/trains" %></li>
            <li><%= link_to "AdRouts", "/admin/routs" %></li>
            <li><%= link_to "AdTickets", "/admin/tickets" %></li>
            <li><%= link_to "New search", "/search" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FirstApp</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Search", "/search" %></li>
            <li><%= link_to "Bought Tickets", "/tickets" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<p id="notice" class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <%= button_to 'Exit', destroy_user_session_path, method: :delete %>
  <p>Account: <%= user.email %></p>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>