<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rails</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/railway_stations">Stations<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/trains">Trains</a>
        <a class="nav-item nav-link" href="/routs">Routs</a>
        <a class="nav-item nav-link" href="/users">Users</a>
        <a class="nav-item nav-link" href="/search">New search</a>
        <a class="nav-item nav-link" href="/tickets">Bought Tickets</a>
      </div>
    </div>
  </nav>

    <%= yield %>

    <footer class="fixed-bottom"><p class="text-white bg-dark">Ostap Pelo</p></footer>
  </body>
</html>
